/* MAIN SETTINGS
========================= */
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	/* font-size 1em = 10px */
	font-size: 62.5%; 
}
.slider {
	font-family: 'Orbitron', sans-serif;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	color: red;
}
.item {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
	height: 100vh;
	text-transform: uppercase;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	background-color: cyan;
	flex-basis: 25%;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.item:hover {
	flex-basis: 65%;
}
.item span {
	font-size: 3em;
	text-shadow: 0px 0px 5px red;
}
.item-1 {
	background: url(../glitch_2019.jpg) center center no-repeat / cover;
}
.item-2 {
	background: url(../IMG_1645.jpg) center center no-repeat / cover;
}
.item-3 {
	background: url(../party.jpg) center center no-repeat / cover;
}
.item-4 {
	background: url(../Cat-with-Middle-Finger.jpg) center center no-repeat / cover;
}

@media (max-width: 768px) {
	.slider {
		height: 100vh;
		flex-flow: column;
	}
	.item {
		width: 100%;
	}
	.item:hover {
		/* flex-grow: 90%; */
	}
}
